# Node.js specific
node_modules/
npm-debug.log
yarn-error.log
.pnpm-debug.log

# Optional npm cache directory
.npm/

# dotenv environment variable files
.env
.env.local
.env.*.local

# Log files
logs/
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE/Editor specific files
.vscode/
.idea/

# build artifacts
/dist
/build
/public

# coverage reports (from testing)
coverage/

# other
*.tgz
*.bak
